.BG{
position:relative;
width: 55%;
top: 10vh;
left: 20%;
display: grid;
grid-template-columns: 50% 50%;
column-gap: 5%;
row-gap: 5%;
margin-bottom: 500px;
}

.previewImg{
  margin-top: -134px;
}

#Photo{
  grid-column: 1/3;
  justify-self:center;
  margin-left: 130px;
}

#Photo-file{
  grid-column: 1/3;
  justify-self:center;
  margin-left: 60px;
}

#icon-button-file{
  grid-column: 1/3;
  justify-self:center;
  position: absolute;
  opacity: 0;
}
.imgPreview{ 
  grid-column: 1/3;
  justify-self:center;
  max-width: 350px;
  max-height: 200px;
  overflow: hidden;
}

.Selling-Price{
  grid-column: 1/3;
  display: block;
  padding: 18.5px 14px;
  border-radius: 5px;
  font: inherit;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
.Selling-Price:hover{
  border: 1px solid rgba(128, 128, 128, 1);
}
.Selling-Price:focus{
  border: 2px solid #3f51b5;
  outline: none;
}
.Product-Name{
  grid-column: 1/3;
}
.Categories{
  grid-column: 1/3;
}
.Description{
  grid-column: 1/3;
}
.CancelB{
  justify-self:center;
  text-decoration: none;
}
.SubmitB{
  justify-self:center;
  text-decoration: none;
}