body{
    background-color: white;
    margin-top: 20px;
  }

  .post_container{
    display: flexbox;
    padding-top: 8px;
    height: 200px;
    width: 100%;
    box-shadow: 2px 4px 4px grey;
    border-radius: 8px;
    margin: auto;
    background: #4892BC;
  }
  
  .comment{
    display: flexbox;
    height: 64 px;
    border-radius: 15px;
    background: #E4E4E4;
  }
  